@tailwind base;

@tailwind components;

@tailwind utilities;
.navbar-end{
    margin-right: 55px;
}
.navbar {
    background-color: #354f52;
    font-size: 23px;
   font-family: 'Nanum Myeongjo', serif;

}


.navbar-start {
    font-size: 18px;
}

.text-lg{
    font-size: 23px;

}
.btn{

    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;

}


