


.whole_back{
    background: rgb(82,121,111);
    background: linear-gradient(180deg, rgba(82,121,111,1) 16%, rgba(202,210,197,1) 100%);;
height: 100vh;

}



.product-list-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #264653;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar input {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    margin-right: 10px;
}

.search-bar button {
    padding: 8px 16px;
    background-color: #84a98c;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #cad2c5;
}

.product-list {
    list-style: none;
    padding: 0;
}

.product-item {
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.product-item h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.product-item p {
    font-size: 14px;
}

.no-products {
    font-size: 16px;
    margin-bottom: 10px;
}



